%notification
  .notice チャットグループが作成されました。

%side-bar
  .header
    .header__name Midori
  .groups
    .group__name test
    .group__message test

%chat
  .header
    .left-header
      .left-header__title test
      .left-header__member test
    .right-header Edit
  .messages
    .upper-message
      .upper-message__name test
      .upper-message__date test
    .lower-message test
  .form
    .form__message type a message
    .form__submit Send

