.chat {
  width: $chat-width;
  .header {
    height: 100px;
    padding: 0 40px;
    box-sizing: border-box;
    .left-header {
      float: left;
      &__title {
        font-size: 20px;
        color: #333333;
        margin-top: 35px;
      }
      &__member {
        @include flexbox;
        font-size: 12px;
        color: $chat-gray;
        margin-top: 15px;
        .member__name {
          display: inline-block;
          padding-left: 5px;
        }
      }
    }
    .right-header {
      border: 1px solid $blue;
      float: right;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      &__button {
        color: $blue;
        text-decoration: none;
      }
    }
  }
  .messages {
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    padding: 46px 40px 0px;
    box-sizing: border-box;
    background-color: #FAFAFA;
    .message {
      .upper-message {
        display: flex;
        &__user-name {
          color: $chat-black;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: $chat-gray;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: $chat-black;
          font-size: 14px;
          padding-bottom: 40px;
        }
      }
    }
  }
  .form {
    height: 90px;
    background-color: #DDDDDD;
    padding: 20px 50px 20px 40px;
    box-sizing: border-box;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      padding-left: 10px;
      box-sizing: border-box;
    }
    &__mask {
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      label {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      float: right;
      height: 50px;
      background-color: $blue;
      color: white;
      font-size: 16px;
      margin-left: 15px;
      padding: 0 30px;
      border: none;
    }
  }
}

